[package]
name = "tpm2-rs-client"
version = "0.1.0"
edition = "2021"

[features]
tpm-simulator-tests = []

[dependencies]
tpm2-rs-base = { workspace = true }
tpm2-rs-marshalable = { workspace = true }

[dev-dependencies]
zerocopy = { workspace = true }
tpm2-rs-unionify = { workspace = true }