[workspace]
resolver = "2"
members = [
    "base",
    "client",
    "errors",
    "marshalable",
    "marshalable-derive",
    "server",
    "unionify",
    "unionify-derive"
]

[workspace.dependencies]
# Third party dependencies
arrayvec = { version="0.7.4", default-features=false }
bitflags = "2.4.2"
hex-literal = { version = "0.4.1" }
open-enum = "0.4.1"
proc-macro2 = "1"
quote = "1"
safe-discriminant = "0.2.0"
syn = {version = "2", features = ["full"]}
trybuild = { version = "1.0.89", features = ["diff"] }
zerocopy = { version = "0.7.0", features = ["derive"] }

# Common workspace crates
tpm2-rs-base = { path = "base" }
tpm2-rs-client = { path = "client" }
tpm2-rs-errors = { path = "errors" }
tpm2-rs-marshalable = { path = "marshalable" }
tpm2-rs-marshalable-derive = { path = "marshalable-derive" }
tpm2-rs-server = { path = "server" }
tpm2-rs-unionify = { path = "unionify" }
tpm2-rs-unionify-derive = { path = "unionify-derive" }
